<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Oren</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/normalizer.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/auth/index.css">
</head>

<body>
    <div id="main">
        <h1> Oren | Auth </h1>
        <hr>
        <p> Welcome, please login using Oren Credentials</p>
        <div id="button-wrapper">
            <a href="/auth/signin"><button>Sign In</button></a>
            <a href="/auth/register"><button>Register</button></a> 
        </div>
        <%- include('../partials/footer.ejs') %>
    </div>

    <script src="" async defer></script>
</body>

</html>