#main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#main h1{
    font-weight: 300;
}

#main hr{
    width: 400px;
    border-color: rgba(0,0,0,0.5);
}

#main #button-wrapper{
    display: flex;
    gap: 15px;
}

#main button{
    padding: 10px 20px;
}