<div id="navbar">
   <h3><a href="/">Oren</a></h3>
      <ul>
         <li><a href="#">Guides</a></li>
         <li><a href="#">Events</a></li>
      </ul>
      <h4><%=user.name%> | <i class="fa-solid fa-right-from-bracket" title="Log Out" id="logout-button" onclick="logout();"></i></h4>
</div>