<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Oren</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/normalizer.css">
    <link rel="stylesheet" href="/static/css/global.css">
</head>

<body>
    <div id="main">
        <h1> 404 </h1>
        <hr>
        <p>You have reached the farthest ends of the galaxy. There is nothing to be found here.</p>
        <button onclick="history.back()">Go Back</button>
        <%- include('../partials/footer.ejs') %>
    </div>

</body>

</html>